.container {
    margin-top: 5vh;
    padding: 4vh;
    margin: 4vh;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 15px;
    padding: 2vw;
}

#job1 {
    width: 30%;
    height: auto;
}

#job2 {
    width: 30%;

    height: auto;
    float: right;
}

#job3 {
    width: 30%;

    height: auto;
}

#job4 {
    width: 30%;

    height: auto;
    float: right;
}

.form-group {
    margin: 6vh;
    width: 50%;
    font-family: "Inter", serif;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 15px;
    padding: 1vw;
    background-color: #FFFBEB;
}

option {
    margin: "2vh";
    font-family: "Inter", serif;
}

#carouselExampleCaptions{
    z-index: 2;

    margin-bottom: 10vh;
}


img {
    width: 100%;
    height: 90vh;
    z-index: 1;
}

.hidden{
    display: none;
}
