body {
    background-color: #FFFBEB;
}

.container-fluid a {
    font-family: "Typography", inter;
    font-size: 24px;
}

.navbar img {
    width: 99px;
    height: 89px;
}

.navbar {
    background-color: #FFFFFF;
}

nav {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}